<!DOCTYPE html>
<html>
<head>
    <title>Bar-hopping – Helper </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <style>
        table.fixed {
            table-layout: fixed;
            width: 50%; /* Set a specific width in pixels or percentage */
        }
        th, td {
            border: 1px solid black;
            padding: 0px;
        }
    </style>
</head>
<body>

    <img src="{{ url_for('static', filename='beer-3711733_960_720.jpg') }}" alt="fun, fun, fun">

    <h1>Bars/Cafés, ratings, and probabilities:</h1>


    <div id="ratingsTable">
        {{ probs | safe }}
    </div>


    <h1> The next bar/café:

    <span id="selected">{{ selected }}</span>

    </h1>

    <p>... have fun!</p>


    <!-- Form for user input -->
    <form id="updateRatingsForm">
        <label for="userName">Your Name:</label>
        <input type="text" id="userName" name="userName" required>
        <br>
        <label for="establishment">Establishment:</label>
        <input type="text" id="establishment" name="establishment" required>
        <br>
        <label for="newRating">New Rating:</label>
        <input type="number" id="newRating" name="newRating" min="1" max="23" required>
        <br>
        <button type="button" onclick="updateRatings()">Update Ratings</button>
    </form>


    <button onclick="rerun()">new</button>

    <script>
        function rerun() {
            var selectedItem = document.getElementById("selected");
            fetch('/rerun')
                .then(response => response.json())
                .then(data => selectedItem.innerText = data.selected);
        }


        function updateRatings() {
        // Get user input from the form
        var userName = document.getElementById("userName").value;
        var establishment = document.getElementById("establishment").value;
        var newRating = document.getElementById("newRating").value;

        // Send the user input to the server to update ratings
        fetch('/update_ratings', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ userName: userName, establishment: establishment, newRating: newRating }),
        })
            .then(response => response.json())
            .then(data => {
                // Update the table with the new ratings
                document.getElementById("ratingsTable").innerHTML = data.newTable;
            });
        }
    </script>

</body>
</html>
